body {
    background: #d2f2fc;
    overflow-y: auto;
    overflow-x: hidden;
}

#logo1 {
    left: 4em;
    top: 8em;
    z-index: 5;
}

.statusbar1 {
    position: fixed;
    bottom: 0px;
    left: 15px;
    right: 25%;
    height: 28px;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    background: #c2e2ec;
    color: #000000;
    border: solid 2px rgb(0, 0, 0);
    z-index: 200;
    overflow: hidden;
    overflow-y: none;
    text-wrap: nowrap;
}

.statusbar2 {
    position: fixed;
    bottom: 0px;
    left: 74%;
    width: 16%;
    padding: 0px;
    font-weight: bold;
    font-size: 14px;
    background: #c2e2ec;
    z-index: 201;
    border: solid 2px rgb(0, 0, 0);
    color: #000000;
    height: 28px;
    text-align: left;
}

.statusbar3 {
    position: fixed;
    bottom: 0px;
    left: 89%;
    right: 15px;
    height: 28px;
    width: 10%;
    font-weight: bold;
    font-size: 14px;
    background: #c2e2ec;
    color: #000000;
    border: solid 2px rgb(0, 0, 0);
    border-left: solid 2px rgb(0, 0, 0);
    z-index: 200;
    overflow: hidden;
    overflow-y: none;
    text-wrap: nowrap;
    text-align: center;
}

.frontImage {
    position: fixed;
    top: 450px;
    left: 78%;
    right: 20px;
    height: 620px;
    padding: 0px;
    z-index: 100;
    overflow: hidden;
    overflow-y: none;
    text-wrap: nowrap;
}

.formTop {
    background: #660000;
    height: 210px;
}

.topicsFormBottom {
    z-index: 12;
    width: auto;
}

.headlinesTop {
    font-size: 16px;
    color: #ffffff;
}

.topicHeadline {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.mainHeadline {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.datasetListItems {
    font-size: 16px;
    color: #000000;
}

.commentDataset {
    font-size: 16px;
    font-weight: normal;
    color: #eeeeee;
    text-wrap: nowrap;
}

.topicList {
    font-size: 16px;
    color: #000000;
}

.topicListButton {
    background: #056289;
    border: solid 2px #111111;
}

.topicListButtonInput {
    background: #660000;
    border: solid 2px #111111;
}

.inputField {
    background: #ffffff;
    border: solid 2px #bbbbbb;
    color: #000000;
    height: 30px;
}

.selectButtonDataset {
    height: 30px;
    background: #008800;
    color: #ffffff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}

.selectButton {
    height: 30px;
    background: #008800;
    color: #ffffff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}

.selectButton:hover {
    background: #555555;
    color: #ffffff;
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.1);
    transform: translate(0px, -3px) scale(1.1);
}

.schoolLabel {
    background: #ffffff;
    border: solid 2px #bbbbbb;
    border-style: solid;
    color: #000000;
    height: 30px;
    width: 55px;
    font-size: 16px;
}

.freeLabel {
    background: #ffffff;
    border: solid 2px #bbbbbb;
    border-style: solid;
    color: #000000;
    height: 30px;
    width: 55px;
    font-size: 16px;
}

.dsNumber {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.publishNo {
    background: #ffffff;
    border: solid 2px #bbbbbb;
    border-style: solid;
    color: #000000;
    height: 30px;
    width: 60px
}

.dropdownYearStyle {
    height: 30px;
    width: 0px;
    z-index: 5;
}

.dropdownStateStyle {
    z-index: 5;
    height: 30px;
}


.buttonYearStyle {
    background: #ffffff;
    border: solid 2px #bbbbbb;
    color: #000000;
    height: 30px;
    width: 60px;
}


.buttonStateStyle {
    background: #ffffff;
    border: solid 2px #bbbbbb;
    color: #000000;
    height: 30px;
}

.navtabHomeCSS {
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    font-weight: bold;
    font-size: 12px;
    color: #dddddd;
    background-color: #056289;
    height: 30px;
    padding: 1px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 0px;
    width: 70px;
    border: solid 1px #bbbbbb;
}

.nav-link:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -3px) scale(1.1);
    transform: translate(0px, -3px) scale(1.1);
    background: #008800;
    color: #ffffff;
}


.navtabCSS {
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    font-weight: bold;
    font-size: 12px;
    color: #dddddd;
    background-color: #056289;
    height: 30px;
    padding: 1px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0px;
    width: 70px;
    border: solid 1px #bbbbbb;
}

hr {
    color: #000000;
    overflow: none;
    background: #000000;
    height: 3px;
}

textarea {
    resize: none;
}